.nav {
  display: flex;
}
.nav-list {
  display: flex;
  @extend %list;
}
.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  @extend %link;
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  transition: color var(--transition);
  &.current {
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: #2196f3;
    }
  }
  &.current {
    color: #2196f3;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.portfolio-nav-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  @extend %list;
}

.portfolio-nav-item:not(:last-child) {
  margin-right: 8px;
}
