.project {
  padding-bottom: -94px;
}

.project-list {
  display: flex;
  justify-content: space-between;
  @extend %list;
}
.no-gap {
  display: block;
}
.project-list__item {
  position: relative;
}
.project-list__card {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;

  background-color: rgba(47, 48, 58, 0.8);
}
.project-list__text {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
